@keyframes rotateOneEighty {
    0% {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
    }

    100% {
        transform: rotateY(180);
        -webkit-transform: rotateY(180);
        -moz-transform: rotateY(180);
        -ms-transform: rotateY(180);
        -o-transform: rotateY(180);
    }
}