@charset "UTF-8";
/*
    General colors
*/
@font-face {
  font-family: "precious";
  src: url(/fonts/precious-webfont.woff), url(/fonts/precious-webfont.woff2);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "verdana";
  src: url(/fonts/verdana-webfont.woff), url(/fonts/verdana-webfont.woff2);
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}
* body {
  font-size: 18px;
  font-family: "verdana";
  box-sizing: border-box;
  margin: 0 auto;
}
* a {
  text-decoration: none;
}
* .content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
* .button {
  width: fit-content;
  text-align: center;
  padding: 8px 12px;
  color: #ffffff;
  background-color: #0F0A11;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
* .button:hover {
  opacity: 0.8;
}
* .sectionTitle {
  width: fit-content;
  font-size: 64px;
  text-align: center;
}
* .box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 80%;
}
* .adaptativeBox {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 80%;
}
* .columns {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 10px;
}
* .columns img {
  width: 100%;
}
* .gridBox {
  display: grid;
}

[role=tooltip] {
  display: none;
  position: absolute;
  width: 100%;
  left: 10%;
  background-color: black;
  height: max-content;
  z-index: 2;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  /* Laisser un délai avant de masquer pour que la souris puisse quitter le
  champ et entrer dans l'info-bulle */
  transition: visibility 0.2s;
}

.tooltipBottom {
  bottom: 100%;
}

.tooltipTop {
  bottom: 100%;
}

#headerMenu {
  position: fixed;
  max-width: 1200px;
  width: 100vw;
  top: 0%;
  height: 60px;
  z-index: 1000;
}
#headerMenu #mobileMenu {
  display: grid;
  top: 0%;
  width: 100%;
  height: 60px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: auto;
  background-color: #895324;
  color: #eeeeee;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#headerMenu #mobileMenu #websiteName {
  grid-column: 2/3;
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-family: "precious";
}
#headerMenu #mobileMenu #burger {
  grid-column: 3/4;
  text-align: center;
  font-size: 2.5rem;
}
#headerMenu #mainMenu {
  display: none;
  width: 100vw;
  background-color: #895324;
  color: #eeeeee;
  position: fixed;
  justify-content: center;
  padding-bottom: 24px;
}
#headerMenu #mainMenu ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
  list-style: none;
  justify-content: center;
  align-items: center;
}
#headerMenu #mainMenu ul li a {
  color: #eeeeee;
}
#headerMenu #mainMenu ul .dropDownMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
#headerMenu #mainMenu ul .dropDownMenu .textAndChevron {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
#headerMenu #mainMenu ul .dropDownMenu ul {
  display: none;
  gap: 10px;
  padding: 4px 8px;
  width: 100%;
  background-color: #eeeeee;
  margin-top: 24px;
}
#headerMenu #mainMenu ul .dropDownMenu ul li {
  width: 100%;
  padding: 4px 8px;
}
#headerMenu #mainMenu ul .dropDownMenu ul li a {
  color: black;
}
#headerMenu #mainMenu ul .dropDownMenu:hover {
  cursor: default;
}

#banner {
  display: none;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

#dogs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  gap: 32px;
  background-color: #895324;
  color: #eeeeee;
  background-color: #895324;
  color: #ffffff;
  margin-top: 60px;
}
#dogs #dogPresentationMobile img {
  max-width: 500px;
  width: 100%;
}
#dogs .adaptativeBox {
  gap: 10px;
}
#dogs .adaptativeBox .columns .textAndBone {
  display: flex;
  position: relative;
  width: 100%;
  height: max-content;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
#dogs .adaptativeBox .columns .textAndBone .bone {
  text-align: left;
  font-size: 1.6rem;
}
#dogs .adaptativeBox .columns .textAndBone .clickToToogleTooltip {
  text-decoration: underline wavy;
  margin-right: 15px;
  -moz-text-decoration-style: wavy;
}
#dogs .adaptativeBox .columns .textAndBone .clickToToogleTooltip i {
  position: absolute;
  font-size: 0.9rem;
  margin-left: 2px;
  margin-top: -2px;
}
#dogs .adaptativeBox .columns .textAndBone .clickToToogleTooltip:hover {
  cursor: pointer;
}
#dogs #seeDogs {
  display: flex;
  gap: 24px;
}

#rearers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  gap: 32px;
  background-color: #895324;
  color: #eeeeee;
  background-color: #eeeeee;
  color: #000000;
}
#rearers .box .columns:last-child {
  display: none;
}
#rearers #qualities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
#rearers #qualities h3 {
  font-size: 48px;
  text-align: center;
}
#rearers #qualities .box {
  display: flex;
  flex-direction: row;
}
#rearers #qualities .box .columns img {
  width: 117px;
  height: 124px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
#rearers #qualities .box .columns p {
  text-align: center;
}

#actualities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  gap: 32px;
  background-color: #895324;
  color: #eeeeee;
  background-color: #895324;
  color: #ffffff;
}
#actualities .gridBox {
  grid-template-columns: repeat(auto-fill, 315px);
  grid-template-rows: 450px;
  gap: 24px;
  max-width: 100%;
}
#actualities .gridBox a {
  height: fit-content;
  color: #000000;
  max-width: 300px;
  justify-self: center;
  align-self: center;
}
#actualities .gridBox a .articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 450px;
  border: 2px solid black;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 8px;
  background-color: #eeeeee;
  gap: 10px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
#actualities .gridBox a .articles h3 {
  width: 100%;
  text-align: left;
}
#actualities .gridBox a .articles img {
  width: fit-content;
  height: 170px;
}
#actualities .gridBox a:nth-child(3) {
  display: none;
}
#actualities .gridBox a:hover {
  opacity: 0.8;
}

#whyRott {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  gap: 32px;
  background-color: #895324;
  color: #eeeeee;
  background-color: #eeeeee;
  color: #000000;
}
#whyRott .adaptativeBox {
  gap: 10px;
  align-items: center;
}
#whyRott .adaptativeBox .columns h3 {
  width: 100%;
  text-align: center;
}
#whyRott .adaptativeBox:nth-child(2) .columns:last-child img {
  max-width: 450px;
}
#whyRott .adaptativeBox:nth-child(3) .columns:first-child {
  display: none;
}
#whyRott #warning {
  padding: 8px;
  gap: 24px;
  background-color: #E5E5E5;
  color: red;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 80%;
  max-width: 600px;
  align-items: center;
}
#whyRott #warning i {
  font-size: 6rem;
}

#testimony {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  gap: 32px;
  background-color: #895324;
  color: #eeeeee;
  background-color: #895324;
  color: #ffffff;
}
#testimony .box {
  width: 90%;
  gap: 10px;
  align-items: center;
}
#testimony .box .frame {
  display: flex;
  padding: 8px;
  height: auto;
  width: 80%;
  background-color: #eeeeee;
  color: #000000;
  align-items: center;
}
#testimony .box .frame .columns {
  gap: 10px;
}
#testimony .box .frame .columns img {
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
#testimony .box .frame .columns h3 {
  width: 100%;
  text-align: left;
}
#testimony .box .frame .columns p {
  width: 100%;
  font-size: 14px;
}
#testimony .box .frame .columns:first-child {
  width: 150px;
  height: auto;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  gap: 32px;
  background-color: #895324;
  color: #eeeeee;
  background-color: #895324;
  color: #ffffff;
  margin-top: 1px;
}
#footer .box {
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 80%;
  border-bottom: 2px solid #0F0A11;
}
#footer .box .columns {
  width: 100%;
  border-bottom: 2px solid #0F0A11;
  padding-bottom: 32px;
}
#footer .box .columns a {
  color: #ffffff;
}
#footer .box .columns p {
  width: 100%;
  text-align: left;
  font-size: 0.9rem;
}
#footer .box .columns #coordinatesTitle {
  font-size: 2rem;
}
#footer .box .columns .footerInfo {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 10px;
  width: 100%;
}
#footer .box .columns:first-child {
  gap: 10px;
}
#footer .box .columns:last-child {
  border: none;
}
#footer #footerEnd {
  display: flex;
  width: 90%;
  padding-bottom: 16px;
  justify-content: flex-start;
  align-items: center;
}
#footer #footerEnd a {
  color: #ffffff;
  text-decoration: underline;
}
#footer #footerEnd .button {
  position: absolute;
  right: 10%;
  padding: 8px 10px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
}

@media screen and (min-width: 1000px) {
  .adaptativeBox {
    flex-direction: row;
    text-align: left;
  }
  #dogs #dogPresentationMobile {
    display: none;
  }
  #dogs .adaptativeBox {
    order: 2;
    gap: 24px;
  }
  #dogs #seeDogs {
    order: 3;
  }
  #dogs .tooltipBottom {
    top: 100%;
  }
  #actualities .gridBox a:nth-child(3) {
    display: flex;
  }
  #whyRott .adaptativeBox .columns:first-child h3 {
    width: 100%;
    text-align: left;
  }
  #whyRott .adaptativeBox .columns:last-child h3 {
    width: 100%;
    text-align: right;
  }
  #whyRott .adaptativeBox:nth-child(3) .columns:first-child {
    display: flex;
    max-width: 450px;
  }
}
@media (min-width: 1200px) {
  .box {
    flex-direction: row;
    gap: 32px;
    width: 90%;
  }
  .columns {
    width: 50%;
  }
  #headerMenu #mobileMenu {
    display: none;
  }
  #headerMenu #mainMenu {
    display: flex;
    gap: 24px;
    height: 60px;
    padding-bottom: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  #headerMenu #mainMenu ul {
    flex-direction: row;
    box-sizing: border-box;
  }
  #headerMenu #mainMenu ul li {
    border: 2px solid #895324;
  }
  #headerMenu #mainMenu ul li:hover {
    border-bottom: 2px solid #eeeeee;
  }
  #headerMenu #mainMenu ul .dropDownMenu {
    width: fit-content;
  }
  #headerMenu #mainMenu ul .dropDownMenu .textAndChevron {
    pointer-events: all;
  }
  #headerMenu #mainMenu ul .dropDownMenu .textAndChevron:hover + ul {
    display: flex;
  }
  #headerMenu #mainMenu ul .dropDownMenu ul {
    display: none;
    position: absolute;
    height: auto;
    gap: 1px;
    width: 225px;
    padding-top: 10px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: transparent;
  }
  #headerMenu #mainMenu ul .dropDownMenu ul:hover {
    display: flex;
  }
  #headerMenu #mainMenu ul .dropDownMenu ul li {
    box-sizing: border-box;
    width: 225px;
    background-color: #eeeeee;
    border: 2px solid black;
    padding: 0;
  }
  #headerMenu #mainMenu ul .dropDownMenu ul li a {
    padding: 4px 8px;
    display: inline-block;
    height: 100%;
    width: 100%;
    color: black;
  }
  #banner {
    display: block;
  }
  #dogs {
    margin-top: 0;
  }
  #rearers .box .columns:last-child {
    display: flex;
  }
  #whyRott .adaptativeBox .columns:first-child h3 {
    width: 100%;
    text-align: left;
  }
  #whyRott .adaptativeBox .columns:last-child h3 {
    width: 100%;
    text-align: right;
  }
  #whyRott .box:nth-child(3) .columns:first-child {
    display: flex;
    max-width: 450px;
  }
  #whyRott #warning {
    flex-direction: row;
    text-align: left;
  }
  #testimony .box {
    width: 98%;
  }
  #testimony .box .frame {
    width: 33%;
    height: 216px;
  }
  #footer .box {
    flex-direction: row;
    align-items: flex-start;
  }
  #footer .box .columns {
    width: max-content;
    border-bottom: none;
    align-items: flex-start;
  }
  #footer .box .columns a {
    border-bottom: 2px solid #895324;
  }
  #footer .box .columns a:hover {
    border-bottom: 2px solid #ffffff;
  }
  #footer .box .columns #coordinatesTitle {
    font-size: 1rem;
  }
  #footer #footerEnd {
    justify-content: center;
  }
  [aria-describedby]:hover,
  [aria-describedby]:focus {
    position: relative;
  }
  [aria-describedby]:hover + [role=tooltip],
  [aria-describedby]:focus + [role=tooltip],
  [role=tooltip]:hover,
  [role=tooltip]:focus {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
