/*
    General colors
*/
$primaryColor:#895324;
$secondaryColor:#eeeeee;
$pattern1BackgroungColor:$primaryColor;
$pattern1TextColor:#ffffff;
$pattern2BackgroungColor:$secondaryColor;
$pattern2TextColor:#000000;

//Buttons
$textButtonColor:#ffffff;
$backgroundButtonColor:#0F0A11;


// ================= header colors =================
$dropDownMenuBackgroundColor:#eeeeee;
$dropDownMenuTextColor:black;

//
$sliderCaptionBackground: rgba(#747474, 0.6);
$maleDog:#01A6EA;
$femaleDog:#FFB1CB;