$pageSize:1200px;
$mainMenuSize:60px;
$dropDownMenuWidth: 225px;

$titleSectionSize:64px;
$subTitleSize:48px;

//Gaps
$standardBigGap:32px;
$standardMediumGap:24px;
$standardLittleGap:10px;

//Buttons
$buttonPadding: 8px 12px;
$buttonBorderRadius:8px;