// =================== font size ===================
$homeSectionTitleSize: 72px;

@font-face {
    font-family: 'precious';
    src: url(/fonts/precious-webfont.woff),
    url(/fonts/precious-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'verdana';
    src: url(/fonts/verdana-webfont.woff),
    url(/fonts/verdana-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}