@use "colors";
@use "dimensions";
@use "fonts";

.col {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: dimensions.$standardLittleGap;

}


// ========================= Contact =========================
#contact {
    display: flex;
    flex-direction: column-reverse;
    gap: dimensions.$standardLittleGap;
    justify-content: center;
    align-items: center;
    margin: 90px auto 48px;
    width: 90%;

    #map {
        max-width: 400px;
        width: 100%;
        height: 400px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
    }

    // ================ Contact grid
    #contactGrid {
        width:100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        gap: dimensions.$standardLittleGap;
        background-color: colors.$pattern1BackgroungColor;
        color: colors.$pattern1TextColor;
        padding: 16px 32px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;

        fieldset {
            border: none;

            legend {
                font-size: 2rem;
                font-weight: bold;
            }
        }

        input[type="radio"] {
            accent-color: colors.$pattern1BackgroungColor;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
            padding: 4px 8px;
            accent-color: colors.$pattern1BackgroungColor;
        }


        select {
            background-color: colors.$secondaryColor;
        }

        #allGenders {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            gap: dimensions.$standardMediumGap;

            label {
                display: flex;
                gap: dimensions.$standardLittleGap;
            }
        }

        #name {
            width: 100%;
        }

        #mailPhone {
            width: 100%;
        }

        #subjectMessage {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: dimensions.$standardLittleGap;
            margin-top: dimensions.$standardLittleGap;
        }

        .button {
            margin-top: dimensions.$standardLittleGap;

            button {
                background-color: colors.$backgroundButtonColor;
                border: none;
                color: colors.$textButtonColor;
                font-size: 1.2rem;
                cursor: pointer;
            }
        }
    }

}






// ========================= Media Queries =========================
@media screen and (min-width:750px) {
    #contact {

        #map {
            max-width: 450px;
        }

        #contactGrid {
            max-width: 450px;

            .box {
                flex-direction: row;
            }
        }
    }

}

@media screen and (min-width:900px) {

    #contact {
        width: 100%;
        max-width: 1100px;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 80px auto;

        #map {
            height: 450px;
        }
    }

}